.portfolio-piece-img {
    border-color:rgb(90, 90, 90);
    border-width: 1px;
}

.portfolio-piece {
    color: black;
}

.portfolio-card:hover {
    background-color: rgb(220, 220, 220);
}

a, a:hover {
    text-decoration: none;
    color: black;
}